body{
    
    background-color: aqua;
}
.container{
    display:flex;
}
/* Estilos para el contenedor del formulario */
.container1 {
    
    width: 30%;
    flex-direction: column;
    padding: 10px;
    text-align: center;
}

/* Estilos para los campos de entrada (inputs) */
.entrada input,
.entrada select {
    width: 80%; /* Cambia el ancho de los inputs al 80% del contenedor */
    padding: 10px;
    display: block;
    margin: 5px auto; /* Centra los inputs horizontalmente en el contenedor */
}

#container2{
    
    width:70%;
}
.btn {
  border-color: gray; 
  color: gray; 
  padding: 14px 28px; 
  cursor: pointer; 
  border-radius: 5px;
  margin-top: 4px;
}
#tabla{
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 10px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: gray;
}

tr:nth-child(odd) {
  background-color: white;
}

@media (max-width: 700px) {
    .container{
        flex-direction: column;
    }
    .container1{
        width:100%;
        align-items: center;
        padding:40px;
    }
    .entrada input,
    .entrada select{
        width:100%;
    }
}
